body {
    margin-left:  150px;
    margin-right: 150px;
}
.navbar {
    margin: auto;
}
.container { 
    padding: 0;
    font-size: 16pt;
}
nav {
    border: 1px solid lightgrey;
    width: 100%;
    min-height: 100px;
}

.login-btn {
    text-align: right;
}
#location-info {
    background-color: rgb(48, 62, 130);
    color:white;
    border: 1px solid lightgrey;
    
    padding: 10px;
}
.btn{
    background-color: rgb(48, 62, 130);
}
.btn:hover{
    background-color: rgb(97, 84, 180);
}
#time-weather{
    min-height: 150px; 
}

#map{
    height:500px;
    width:100%;

}
a{
    color: white;
}
a:hover{
    color: white;
    text-decoration: none;
}
#k-safe{
    color: green;
    font-weight: 400;
}
#k-not-safe{
    color: red;
    font-weight: 900;
    font-size: 20px;
}
.card {
    text-align: center;
    margin: none;
    padding: none;
}
#weather-icon{
    height: 50px;
}
.card-header{
    background-color: white;
}
.card-title{
    line-height: 100%;
}
.col{
    padding-right: 0px;;
    padding-left: 0px;
}
.card-body{
    background-color: #f8f9fa;
}
#weather-btns{
    text-align: center;
    margin-top: 10px;
}

/* Start database.html css */

#input-form-box {
    margin-top: 20px;
}

#results-table {
    margin-top: 20px;
    height: 500px;
    overflow: scroll;
}

tr {
    border-bottom: solid 1px black;
}

.database-header{
    text-align: center;
}